body{
  width:100%;
  height:90%;
}
.img{
	background-image:url('../images/b5.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	
}
.img:before{
  content: "";
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.parbut{
	opacity: 0.5;
}

.fieldset{
  background-color:white;
  opacity:0.9;
  width: 70%;
}

#divFieldset {
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  border: 1px; 
  margin-top: 50px;
  /*background-color: #0097a7;*/
  opacity: 0.7;   
}

#header {
  color: #0097a7;
  margin-top: 5%;
}