<!DOCTYPE html>
<html>
<head>
	<title>View Children</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <!-- Navigation Bar -->
  	<nav>
	    <div class="nav-wrapper" style="background-color: #0097a7">
	      	<a href="#" class="brand-logo center"><i class="material-icons prefix">account_circle</i></a>
	      	<!-- <i class="material-icons">list</i> -->
	      	<ul id = "dropdown" class = "dropdown-content">
				<li><a href="#">Students</a></li>
				<li><a href="test">Assignments</a></li>
        <li><a href="message">Message</a></li>
				<li><a href="#">Grades</a></li>
	      	</ul>
	      	<a class = "btn dropdown-button" style="background-color: transparent;" href = "#" data-activates = "dropdown">
         	<i class = "mdi-navigation-arrow-drop-down right material-icons"></i>Academics</a>	
         	<!-- <i class="material-icons">list</i> -->
	    </div>
  	</nav>

    <!-- Main Body -->
    <h4 style="color: #0097a7">Add Students to your Class</h4>
    <form>
      
    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>