<!DOCTYPE html>
<html>
<head>
  <title>Set Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/roboto/">
</head>
<body class="img">
    <!-- Navigation Bar -->
    <nav>
      <div class="nav-wrapper" style="background-color: #0097a7">
          <a href="#" class="brand-logo center"><i class="material-icons prefix">account_circle</i></a>
          <!-- <i class="material-icons">list</i> -->
          <ul id = "dropdown" class = "dropdown-content">
        <li><a href="#">Students</a></li>
        <li><a href="test">Assignments</a></li>
        <li><a href="message">Message</a></li>
        <li><a href="#">Grades</a></li>
          </ul>
          <a class = "btn dropdown-button" style="background-color: transparent;" href = "#" data-activates = "dropdown">
          <i class = "mdi-navigation-arrow-drop-down right material-icons"></i>Academics</a>  
          <a href = "index.html" style="background-color: transparent;" class="right">Sign Out</a>
      </div>
    </nav>

    <!-- Main Body -->
    
    <center>
    <h4 style="color: #0097a7">Set Questions</h4>
      <fieldset class="fieldset">
        <form>
          <div class="row">
            <div class='input-field col s6'>
              <input class='validate' type="text" name='title' required />
                <label for='title'>Title</label>
            </div>
            <div class='input-field col s6'>
              <input class='validate' type="text" name='subject' required />
                <label for='subject'>Subject</label>
            </div>
          </div>
          <div class="row">
            <div class='input-field col s6'>
              <TextArea class='validate' type="text" name='instruction' required> </TextArea>
                <label for='instruction'>Instruction</label>
            </div>
            <div class='input-field col s3'>
              <input class='validate' type="text" name='due_date' required />
                <label for='due_date'>Due date</label>
            </div>
            <div class='input-field col s3'>
              <input class='validate' type="text" name='due_time' required />
                <label for='due_time'>Due time</label>
            </div>
          </div>
          <div class="row">
            <div class='col s6'>
              <select>
                <option value="" disabled selected>Classes</option>
                <option value="1">Primary 1</option>
                <option value="2">Primary 2</option>
              </select>
                <label for='recipient'>Add Recipient</label>
            </div>
          </div>
          <!-- Questions -->
          <div class="row">
            <div class='input-field col md 12'>
              <input class='validate' type="text" name="Question" placeholder="Type your question here" required />
              <input class='validate' type="text" name="Answer_1" placeholder="Answer 1" required />
              <input class='validate' type="text" name="Answer_2" placeholder="Answer 2" required />
              <input class='validate' type="text" name="Answer_3" placeholder="Answer 3" required />
              <input class='validate' type="text" name="Correct_answer" placeholder="Correct_answer" required />
            </div>
          </div>
          <div class='row'>
            <button class="btn btn-block waves-effect waves-light" type="submit" name="action">Send Questions
              <i class="material-icons right">send</i>
            </button>         
          </div>
        </form>
      </fieldset>
  </center>
    <!-- JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
</body>
</html>